#player-controls {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #000;
}
#player-controls .hidden {
  display: none;
}
#player-controls #video-controls {
  display: inline-block;
  margin-right: 10px;
}
#player-controls #time-controls {
  display: inline-block;
}
#player-controls .record-controls {
  display: inline-block;
  margin-left: 20px;
}
#player-controls a {
  cursor: pointer;
  display: inline-block;
}
#player-controls a.time-up span {
  background-image: url(http://d2ahh4xgp42dvp.cloudfront.net/icons_transparent_25.png);
  display:inline-block;
  height:20px;
  width:20px;
  background-position: 0 -80px;
}
#player-controls a.time-down span {
  background-image: url(http://d2ahh4xgp42dvp.cloudfront.net/icons_transparent_25.png);
  display:inline-block;
  height:20px;
  width:20px;
  background-position: -25px -80px;
}
#player-controls span.time-label {
  width: 75px;
  font-weight: bold;
  display: inline-block;
}
#player-controls span.time-display {
  width: 50px;
  font-weight: bold;
  display: inline-block;
}

/*Icons*/
.pause-btn, .record-btn {
  background: url(http://d2ahh4xgp42dvp.cloudfront.net/color-icons/sprites/player-controls-48.png) no-repeat;
  height: 48px;
  width: 48px;
}

#player-controls .pause-btn {background-position: 0 -50px ;}
#player-controls .pause-btn:hover {background-position: -50px -50px ;}
#player-controls .pause-btn:active {background-position: -100px -50px ;}

#player-controls .record-btn {background-position: 0 0 ;}
#player-controls .record-btn:hover {background-position: -50px 0 ;}
#player-controls .record-btn:active {background-position: -100px 0 ;}

