#player-controls {
  background: #fff;
  padding: 10px;
  border: #d3d3d3 1px solid;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #000;
  display: inline-block;
  margin: 5px 0 0 0;
  border-radius: 5px;
}

#player-controls .hidden {
  display: none;
}
#player-controls #video-controls,
#player-controls #video-clip-form {
  display: inline-block;
  vertical-align: middle;
}
#player-controls .text-input {
  height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width: 200px;

  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
/* Combo of .btn .btn-small, .btn-success from Bootstrap */
#player-controls .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;

  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
#player-controls .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
#player-controls .btn-success:hover {color:#fff;background-color:#449d44;border-color:#398439}
#player-controls #time-controls {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
#player-controls .record-controls {
  display: inline-block;
}
#player-controls a {
  cursor: pointer;
  display: inline-block;
}
#player-controls a.time-ctrl {
  width: 100px;
}
#player-controls a.time-ctrl:nth-child(1),
#player-controls a.time-ctrl:nth-child(2) {
  margin-bottom: 5px;
}

/*Icons*/
.pause-btn, .record-btn {
  background: url(http://d2ahh4xgp42dvp.cloudfront.net/color-icons/sprites/player-controls-32.png) no-repeat;
  height: 32px;
  width: 32px;
}

#player-controls .pause-btn {background-position: 0 -50px ;}
#player-controls .pause-btn:hover {background-position: -50px -50px ;}
#player-controls .pause-btn:active {background-position: -100px -50px ;}

#player-controls .record-btn {background-position: 0 0 ;}
#player-controls .record-btn:hover {background-position: -50px 0 ;}
#player-controls .record-btn:active {background-position: -100px 0 ;}

